name: CI

on:
  push:
    branches:
      - master

  # Run tests for any PRs.
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - "ubuntu-latest"
          - "macos-latest"
        perl:
          - "5.42"
          - "5.40"
          - "5.12"

    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Setup perl
        uses: shogo82148/actions-setup-perl@v1.37.1
        with:
          perl-version: ${{ matrix.perl }}
      - run: perl -V

      - run: cpanm --installdeps .
      - run: prove -lv t

      - run: tail -n 150 /home/runner/.cpanm/work/*/build.log
        if: ${{ failure() && matrix.os == 'ubuntu-latest' }}

      - run: tail -n 150 /Users/runner/.cpanm/work/*/build.log
        if: ${{ failure() && matrix.os == 'macos-latest' }}
